@extends("base")

@section("title")
This is the page title
@endsection

@section("header")
    @include("navigation")

    <div class="hero">
        This is the hero section
    </div>
@endsection


@block("main")
    <div @class({
    "color-black": "online",
    "color-white": False,
    "pb-4 my-3 bg-gray font-bold ": True,
})
>
        This is the main content.
    </div>

    <div>
        <h3>Hello again, {{ name }} !</h3>
    </div>
@endblock

<div b-click="submit()">
    And this too must be in the slot variable.
</div>
