@extends("base")

@section("title")This is the page title@endsection

<div>
    <h2>Hello again, {{ name }} !</h2>
    This must be in the slot
</div>

@section("header")
    @include("partials.navigation")

    <div class="hero">
        This is the hero section
    </div>
@endsection


@block("main")
    <div @class({
    "color-black": "online",
    "color-white": False,
    "pb-4 my-3 bg-gray font-bold": True,
})
>
        This is the main content.
    </div>
@endblock

<div>
    And this too must be in the slot variable.
</div>
