<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>


<body>
    <h1 class="title">Hello world !</h1>

    <div>{!! html !!}</div>
    @if(name == "Antares")
        <p>You are registered as {{ name }}.</p>
    @elif(name == "B")
        <p>You are B</p>
    @elif(name == "c")
        <p>You are C</p>
    @elif(name == "Anta")
        <p>You are registered as {{name}}.</p>
    @endif

    @unless(name == "Prince")
        <p>You are not Prince</p>
    @endunless

    @switch(status)
        @case('active')
            <p>Your account is active.</p>
        @case('pending')
            <p>Your account is pending approval.</p>
        @case('inactive')
            <p>Your account is inactive.</p>
        @default
            <p>Status unknown.</p>
    @endswitch


    @auth
        <p>Welcome back, {{ user.name }}!</p>
    @else
        <p>Welcome, Non-Authenticated ! Please log in.</p>
    @endauth

    @guest
        <p>Welcome, Guest! Please log in.</p>
    @else
        <p>Welcome back, {{ user.name }}!</p>
    @endguest

    @anonymous
        <p>Welcome, Anonymous! Please log in.</p>
    @endanonymous

    <p @class({'bg-black': name == "Antares"})
        id="paragraph"
    >
    </p>



 

    <ul>
    @for(item in items)
        <li>item {{ loop.iteration }}</li>
    @endfor
    </ul>

    @liveblade("submit")


    @if(1 > 2)
        <p>A</p>
        @if(5>0)
            <p>Five</p>
        @endif
    @endif

    {# This is a long comment #}


    <a href="@url('home')">Page d'accueil</a>

    <a href="@url('app', {'id': 5})">App</a>

    <img src="@static('app/images/logo.png')" alt="">
    
</body>
</html>