<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Template</title>
</head>
<body>
    <h1>PyBlade</h1>

    <h2>Variable binding</h2>

    <p>Hello, {{ name }} !</p>

    <p>Escaped html: {{ html }}</p>

    <p>Unescaped html : {!! html !!}</p>

    <h2>Conditional statements</h2>

    @if(age > 18)
        <p>You are eligible to vote.</p>
    @endif

    @if(True)
        <p>If true, display this.</p>
    @elif(True)
        <p>Else if true, display this.</p>
    @else
        <p>Else, display this.</p>
    @endif

    <h2>For loops</h2>

    <ul>
    @for(item in items)
        <li>Item: {{ item }}</li>
    @endfor
    </ul>

</body>
</html>