<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Template</title>
</head>
<body>
    <h1>PyBlade</h1>

    <h2>Variable binding</h2>

    <p>Hello, {{ name }} !</p>

    <p>Escaped html: {{ html }}</p>

    <p>Unescaped html : {!! html !!}</p>

    <h2>Conditional statements</h2>

    @if(age <= 18)
        <p>You are young !</p>
    @endif

    <h2>For loops</h2>

    <h3>With no-empty iterable</h3>
    <ul>
        @for(item in items)
            <li>Item: {{ item }}</li>
        @endfor
    </ul>

    @if(age <= 18)
        <p>If block.</p>
    @elif(age < 50)
        <p>Elif block.</p>
    @else
        <p>Else block.</p>
    @endif


    <h3>With empty iterable and the @empty directive</h3>
    <ul>
        @for(item in favorites)
            <li>Favorite: {{item}}</li>
        @empty
            <p>No favorite item</p>
        @endfor
    </ul>
</body>
</html>